// Styling for Error pages
html
  font-size: 62.5%

body
	background-color: #f6f6f6
	color: #888
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size: 16px
	font-size: 1.6rem
	font-weight: 300
	line-height: 1.42857143
	height: 80%
	margin: 0


div
	width: 90%;
  max-width: 600px
  height: 100px
  position: absolute
  top:0
  bottom: 0
  left: 0
  right: 0
  margin: auto


h1, h2, h3
	font-weight: 300
h1
	font-size: 1.5em
h2
	font-size: 1.25em
h3
	font-size: 1.1em